 {% extends "base.html" %}
  {% block script %} {% endblock %} 
  {% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-2 col-sm-2" style="top: 10px; left: 30px">
			<h4>
				您当前所在位置:
			</h4>
		</div>
		<div class="col-xs-10 col-sm-10" style="top: 10px">
			<ul class="breadcrumb">
				<li><a href="#">关于我们</a></li>
				<li class="active">公司概况</li>
			</ul>
		</div>
	</div>
	<div class="row">

		<div class="col-md-3 col-sm-3 sidebar-offcanvas" id="sidebar"
			role="navigation">
			<div class="list-group">
				<a href="#" class="list-group-item active">关于我们</a> <a href="#"
					class="list-group-item"><span class="glyphicon glyphicon-play">
						公司概况 </span></a> <a href="#" class="list-group-item"><span
					class="glyphicon glyphicon-play"> 领导致辞</span> </a> <a href="#"
					class="list-group-item"><span class="glyphicon glyphicon-play">
						组织架构</span></a> <a href="#" class="list-group-item"> <span
					class="glyphicon glyphicon-play"> 大事记 </span></a> <a href="#"
					class="list-group-item"><span class="glyphicon glyphicon-play">
						企业文化</span></a>
			</div>
		</div>
		<!--/span-->
		<!--/span-->

		<div class="col-md-9 col-sm-9">
			<div class="row" style="min-height: 120px">

				<img class="img-rounded" height="120px" width="100%"
					src="/static/images/article_006 - copy.png" />

			</div>
			<div class="row" style="min-height:400px">
				<div class="col-12 col-sm-12 col-lg-12">
					<h2>公司及项目简介</h2>
					<hr />
					<p>
						<strong>江苏交易场所登记结算有限公司</strong>是经江苏省人民政府金融工作办公室批准成立的，为各类大宗商品及权益类交易场所提供登记与结算服务的专业公司。
					</p>
					<p>江苏交易场所登记结算有限公司成立于2014年1月，由省内经营规范、实力雄厚的交易场所共同投资组建，注册资金1.3亿元，是中共江苏省委全面深化改革领导小组2014
						年工作要点的重点推进项目。</p>
					<p>作为国内首家交易场所登记结算公司，公司的成立标志着江苏建立集中、统一的交易场所登记结算体系迈出了关键一步。</p>
					<p>
						公司将通过信息化系统及互联网大数据技术，设计并运营具有自主知识产权的登记结算系统，实现各类信息的集中登记和交易的统一结算，可以保证客户资金安全，有助于防范和控制市场风险，提高市场的交易与结算效率，客户的交易更便利、服务更周到，大宗商品交易市场可以进一步提高市场公信力，运作更加规范，更好地为实体经济和产业转型升级服务。
					</p>
				</div>
			</div>
			<!--/row-->
		</div>
		<!--/span-->


	</div>
	<!--/row-->
</div>
<!--/.container-->
{% endblock %}

