<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<title>江苏交易场所登记结算有限公司 - JSClearing, Inc</title>
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />

<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="/static/css/footer.css" type="text/css" />
<link href="/static/css/header.css" rel="stylesheet" />
<link rel="icon" href="/static/images/favicon.jpg" />
{% block script %} {% endblock %}
</head>

<body>
	<!-- new add -->
	<div id="wrap">
		<header id="heading" role="banner">
			<div class="header-container container" style="margin-top: 10px">
				<div class="logo pull-left" style="margin: 5px">
					<div
						class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content">
						<div class="portlet-body" style="bottom: 10px">
							<div class="portlet-borderless-container">
								<div class="portlet-body">
									<div class="journal-content-article">
										<img height="50px" src="/static/images/jsclearing2.jpg"
											title="JEDC Logo" alt="JEDC Logo" />
									</div>

									<div class="entry-links"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="logo-strapline pull-left" style="margin: 5px">
					<div
						class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content"
						id="">
						<div class="portlet-body">
							<div class="portlet-borderless-container" style="">
								<div class="portlet-body">
									<div class="journal-content-article">江苏交易场所登记结算有限公司</div>

									<div class="journal-content-article">Jiangsu Exchanges
										Depository &amp; Clearing</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="right-panel pull-right">
					<form action="search.html" type="text" name="q"
						id="tipue_search_input">
						<span class="search"><input type="text" name="q"
							id="tipue_search_input" /> <input
							src="/static/images/search.png" title="Search" align="absmiddle"
							border="0" type="image" id="tipue_search_button"
							onclick="this.form.submit();" /></span>
					</form>
				</div>
			</div>

			<nav role="navigation">
				<div class="jedc-navbar jedc-navbar-inverse jedc-navbar-fixed-top">
					<div class="jedc-navbar-inner">
						<div class="container">
							<div class="jedc-nav-collapse jedc-collapse">
								<ul class="jedc-nav">
									<li class="jedc-dropdown active"><a href="/"
										class="jedc-dropdown">首页</a></li>
									<li class="jedc-dropdown"><a href="/about_us">关于公司</a>

										<ul style="height: 164px;" class="jedc-dropdown-menu">
											<li class="jedc-dropdown-submenu"><a class="" href="/about_us">公司概况</a></li>


											<li class="jedc-dropdown-submenu"><a class="" href="#">领导致辞</a>
											</li>

											<li class="jedc-dropdown-submenu"><a class="" href="">组织架构</a></li>

											<li class="jedc-dropdown-submenu"><a class="" href="#">企业文化</a>
											</li>

											<li class="jedc-dropdown-submenu"><a class="" href="#">大事记</a>
											</li>
										</ul></li>
									<li class="jedc-dropdown"><a href="#"
										class="jedc-dropdown">网上业务平台</a>

										<ul style="height: 136px;"
											class="jedc-dropdown-menu border-left">
											<li class="jedc-dropdown-submenu"><a class="" href="#">投资者入口</a>
											</li>

											<li class="jedc-dropdown-submenu"><a class="" href="#">交易场所入口</a>
											</li>

											<li class="jedc-dropdown-submenu"><a class="" href="#">监管入口</a>
											</li>
										</ul></li>

									<li class="jedc-dropdown"><a href="#">服务与支持</a>

										<ul style="height: 82px;"
											class="jedc-dropdown-menu border-left">
											<li class="jedc-dropdown-submenu"><a class="" href="#">投资者服务</a></li>

											<li class="jedc-dropdown-submenu"><a class="" href="#">客户中心</a></li>
										</ul></li>

									<li class="jedc-dropdown"><a href="#">资讯中心</a>

										<ul style="height: 124px;"
											class="jedc-dropdown-menu border-left">
											<li class="jedc-dropdown-submenu"><a class="" href="#">公告与动态</a>
											</li>

											<li class="jedc-dropdown-submenu"><a class="" href="#">媒体中心</a></li>

											<li class="jedc-dropdown-submenu"><a class="" href="#">研究与刊物</a></li>
										</ul></li>

									<li class="jedc-dropdown"><a href="#">法律规则</a>

										<ul style="height: 84px;"
											class="jedc-dropdown-menu border-left">
											<li class="jedc-dropdown-submenu"><a class="" href="#">法律法规</a></li>

											<li class="jedc-dropdown-submenu"><a class="" href="#">业务规则</a></li>
										</ul></li>

									<li class="jedc-dropdown"><a href="#">合作伙伴</a>

										<ul style="height: 84px;"
											class="jedc-dropdown-menu border-left pull-right">
											<li class="jedc-dropdown-submenu"><a class="" href="#">交易场所</a>

											</li>

											<li class="jedc-dropdown-submenu"><a class="" href="#">银行</a>

											</li>


										</ul></li>

									<li class="jedc-dropdown"><a href="#">投资者教育</a>

										<ul style="height: 84px;"
											class="jedc-dropdown-menu border-left pull-right">
											<li class="jedc-dropdown-submenu"><a class="" href="#">保证金管理</a>
											</li>

											<li class="jedc-dropdown-submenu"><a class="" href="#">风险提示</a>
											</li>

										</ul></li>

									<li class="jedc-dropdown"><a href="#">诚聘英才</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<!-- End Logo + Navigation -->



	</div>
	{% block slider %}{% endblock %} {% block heading %}{% endblock %}
	{%block content %}{% endblock %} {% block partner %}{% endblock %}
	<!--footer-->
	<div class="footer ">
		<div class="container-fuid footer-links">
			<div class="container">
				<div class="col-md-8 ">
					<div class="row">
						<div class="col-md-3 col-xs-2 ">
							<h3>关于公司</h3>
							<ul class="links-item-url">
								<li><a href="/about_us">公司概况</a></li>
								<li><a href="#">组织架构</a></li>
								<li><a href="#">企业文化</a></li>
							</ul>
						</div>
						<div class="col-md-3 col-xs-2">
							<h3>服务与支持</h3>
							<ul class="links-item-url">
								<li><a href="#">投资者服务</a></li>
								<li><a href="#">业务资料</a></li>
								<li><a href="#">客服中心</a></li>
							</ul>
						</div>
						<div class="col-md-3 col-xs-2">
							<h3>法律规则</h3>
							<ul class="links-item-url">
								<li><a href="#">法律法规</a></li>
								<li><a href="#">业务规则</a></li>
							</ul>
						</div>
						<div class="col-md-3 col-xs-2">
							<h3>合作伙伴</h3>
							<ul class="links-item-url">
								<li><a href="#">交易场所</a></li>
								<li><a href="#">银行</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<h3>联系我们</h3>
					<address>
						南京市汉中门大街301号国际服务外包大厦14层<br /> <abbr title="Phone">电话:</abbr>
						(025) 456-7890
					</address>
				</div>
				<div class="col-md-2">
					<h3>关注我们</h3>
					<img class="img-rounded" src="/static/images/weixin.png" />
				</div>
			</div>
		</div>
		<div class="container-fuid copyright">
			<div class="container">
				<p class="text-center" style="margin-top: 10px">© 2014-2018
					江苏交易场所登记结算有限公司 版权所有 苏ICP备xxxxxxxx号</p>
			</div>
		</div>
	</div>


	<script src="/static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery-migrate-1.2.1.min.js"
		type="text/javascript"></script>

	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/jquery.jcarousel.pack.js"
		type="text/javascript">
		
	</script>
</body>
</html>