 {% extends "base.html" %} {% block script %}
<link rel="stylesheet" href="/static/css/carousel.css" type="text/css" />
<link rel="stylesheet" href="/static/css/main.css" type="text/css" />
{% endblock %} {% block slider %}

<!-- Slider -->
<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="/static/images/slider1.jpg" alt="First slide">
			<div class="container">
				<div class="carousel-caption">
					<h1>江苏结算</h1>
					<p>是经江苏省人民政府金融工作办公室批准成立的，为各类大宗商品及权益类交易场所提供登记与结算服务的专业公司</p>
					<p>
						<a class="btn btn-lg btn-primary" href="/about_us" role="button">了解更多</a>
					</p>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="/static/images/slider2.jpg" alt="Second slide">
			<div class="container">
				<div class="carousel-caption">
					<h1>登记&结算</h1>
					<p>公司将通过信息化系统及互联网大数据技术，设计并运营具有自主知识产权的登记结算系统，实现各类信息的集中登记和交易的统一结算</p>
					<p>
						<a class="btn btn-lg btn-primary" href="/about_us" role="button">了解更多</a>
					</p>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="/static/images/slider3.jpg" alt="Third slide">
			<div class="container">
				<div class="carousel-caption">
					<h1>安全高效</h1>
					<p>保证客户资金安全，有效防范和控制市场风险，提高市场的交易与结算效率</p>
					<p>
						<a class="btn btn-lg btn-primary" href="/about_us" role="button">了解更多</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button"
		data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#myCarousel" role="button"
		data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- /.carousel -->

<!-- End Slider -->
{% endblock %} {% block heading %}
<div class="container marketing">
	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-sm-6 col-md-3 col-lg-3">
			<img class="img-circle" src="/static/images/heading3.jpg"
				alt="Generic placeholder image" style="width: 120px; height: 120px;">
			<h3>投资者入口</h3>
			<p>投资者入口是面向广大市场投资者的综合在线服务平台，提供网上开户，资金归集等功能</p>
			<p>
				<a class="btn btn-primary" href="#" role="button">点击进入 &raquo;</a>
			</p>
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-sm-6 col-md-3 col-lg-3">
			<img class="img-circle" src="/static/images/heading1.jpg"
				alt="Generic placeholder image" style="width: 120px; height: 120px;">
			<h3>交易场所入口</h3>
			<p>交易场所入口是连接江苏结算和各交易场所的桥梁，提供保证金账号查询等功能</p>
			<p>
				<a class="btn btn-primary" href="#" role="button">点击进入 &raquo;</a>
			</p>
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-sm-6 col-md-3 col-lg-3">
			<img class="img-circle" src="/static/images/heading2.jpg"
				alt="Generic placeholder image" style="width: 120px; height: 120px;">
			<h3>监管入口</h3>
			<p>监管入口是提供给江苏省金融办的专用入口，提供报表，风险控制等功能</p>
			<p>
				<a class="btn btn-primary" href="#" role="button">点击进入 &raquo;</a>
			</p>
		</div>
		<!-- /.col-lg-4 -->
	</div>
	<!-- /.row -->
	<hr />
</div>

{% endblock %} {% block content %}
<!-- Main -->

<div class="container main" style="margin-top: 10px">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<div class="tabbable" id="tabs-661093">
						<ul class="nav nav-tabs">
							<li><a href="#panel-561542" data-toggle="tab">第一部分</a></li>
							<li class="active"><a href="#panel-879964" data-toggle="tab">第二部分</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane  active" id="panel-561542">
								<p>第一部分内容.</p>
							</div>
							<div class="tab-pane" id="panel-879964">
								<p>第二部分内容.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="tabbable" id="tabs-234681">
						<ul class="nav nav-tabs">
							<li><a href="#panel-721431" data-toggle="tab">通知公告</a></li>
							<li class="active"><a href="#panel-942514" data-toggle="tab">公司动态</a>
							<li><a href="#panel-821431" data-toggle="tab">业界动态</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="panel-721431">
								<table class="table table-hover">
									<tr class="active">
										<td><a href="#">江苏交易场所登记结算有限公司网上业务平台的使用说明</a></td>
										<td>2014-10-10</td>
									</tr>
									<tr>
										<td><a href="#">江苏交易场所登记结算有限公司网上业务平台的使用说明</a></td>
										<td>2014-10-10</td>
									</tr>
									<tr class="warning">
										<td><a href="#">江苏交易场所登记结算有限公司网上业务平台的使用说明</a></td>
										<td>2014-10-10</td>
									</tr>
									<tr class="active">
										<td><a href="#">江苏交易场所登记结算有限公司网上业务平台的使用说明</a></td>
										<td>2014-10-10</td>
									</tr>
									<tr>
										<td><a href="#">江苏交易场所登记结算有限公司网上业务平台的使用说明</a></td>
										<td>2014-10-10</td>
									</tr>
									<tr class="warning">
										<td><a href="#">江苏交易场所登记结算有限公司网上业务平台的使用说明</a></td>
										<td>2014-10-10</td>
									</tr>
								</table>
							</div>
							<div class="tab-pane" id="panel-942514">
								<table class="table table-hover">
									<tr class="active">
										<td><a href="#">江苏交易场所登记结算有限公司成立</a></td>
										<td>2013-10-10</td>

									</tr>
									<tr>
										<td><a href="#">江苏交易场所登记结算有限公司成立</a></td>
										<td>2013-10-10</td>

									</tr>
									<tr class="warning">
										<td><a href="#">江苏交易场所登记结算有限公司成立</a></td>
										<td>2013-10-10</td>

									</tr>
									<tr class="active">
										<td><a href="#">江苏交易场所登记结算有限公司成立</a></td>
										<td>2013-10-10</td>

									</tr>
									<tr>
										<td><a href="#">江苏交易场所登记结算有限公司成立</a></td>
										<td>2013-10-10</td>

									</tr>
									<tr>
										<td><a href="#">江苏交易场所登记结算有限公司成立</a></td>
										<td>2013-10-10</td>

									</tr>

								</table>
							</div>

							<div class="tab-pane" id="panel-821431">
								<table class="table table-hover">
									<tr class="active">
										<td><a href="#">江苏交易场所登记结算有限公司成立</a></td>
										<td>2013-10-10</td>

									</tr>
									<tr>
										<td><a href="#">江苏交易场所登记结算有限公司成立</a></td>
										<td>2013-10-10</td>

									</tr>
									<tr class="warning">
										<td><a href="#">江苏交易场所登记结算有限公司成立</a></td>
										<td>2013-10-10</td>

									</tr>
									<tr class="active">
										<td><a href="#">江苏交易场所登记结算有限公司成立</a></td>
										<td>2013-10-10</td>

									</tr>
									<tr>
										<td><a href="#">江苏交易场所登记结算有限公司成立</a></td>
										<td>2013-10-10</td>

									</tr>
									<tr>
										<td><a href="#">江苏交易场所登记结算有限公司成立</a></td>
										<td>2013-10-10</td>

									</tr>

								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<hr />
</div>
{% endblock %} {% block partner %}
<div class="container partner">
	<div class="row">
		<div class="col-lg-12">
			<h3>合作伙伴</h3>
			<div class="row">
				<div class="col-lg-2">
					<img alt="140x140" src="/static/images/dayuan.png" />
				</div>
				<div class="col-lg-2">
					<img alt="140x140" src="/static/images/buxiugang.jpg" />
				</div>
				<div class="col-lg-2">
					<img alt="140x140" src="/static/images/icbc.png" />
				</div>
				<div class="col-lg-2">
					<img alt="140x140" src="/static/images/abc.png" />
				</div>
				<div class="col-lg-2">
					<img alt="140x140" src="/static/images/zhaohang.png" />
				</div>
				<div class="col-lg-2">
					<img alt="140x140" src="/static/images/huaxia.png" />
				</div>
				<div class="col-lg-2">
					<img alt="140x140" src="/static/images/guangda.jpg" />
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
